- if show_gold_trial?(current_user) && user_default_dashboard?(current_user) && has_no_trial_or_gold_plan?(current_user)
  .pt-1.d-none.d-md-block{ class: container_class }
    .user-callout.promotion-callout.thin-callout.js-gold-trial-callout{ data: { uid: 'trial_callout_dismissed', feature_id: UserCalloutsHelper::GOLD_TRIAL, dismiss_endpoint: user_callouts_path } }
      .bordered-box.justify-content-left.align-items-center
        .svg-container
          = image_tag 'illustrations/golden_tanuki.svg', class: 'svg'
        .d-flex.flex-grow.align-items-center
          .user-callout-copy.ml-0
            %h5.mb-0.mt-0= _('Free Trial of GitLab.com Gold')
            %p.mb-0
              %span= _('Try all GitLab has to offer for 30 days.')
              %span.d-none.d-sm-inline= _('No credit card required.')
          = link_to _('Start your trial'), 'https://customers.gitlab.com/trials/new?gl_com=true', class: 'btn btn-primary mr-3 mt-2 mt-sm-0', target: '_blank'
        %button.btn.btn-default.close.js-close{ type: 'button',
          'aria-label' => _('Dismiss trial promotion') }
          = sprite_icon('close', css_class: 'dismiss-icon')
