.js-kubernetes-logs{ data: { logs_path: '/root/kubernetes-app/environments/1/logs' } }
  .build-page
    .build-trace-container.prepend-top-default
      .top-bar.js-top-bar
        .truncated-info.hidden-xs.pull-left
        .dropdown.prepend-left-10.js-pod-dropdown
          %button.dropdown-menu-toggle{ type: 'button', data: { toggle: 'dropdown' }, 'aria-expanded': false }
            %i.fa.fa-chevron-down
          .dropdown-menu.dropdown-menu-selectable.dropdown-menu-drop-up
        .controllers.pull-right
          .has-tooltip.controllers-buttons{ title: 'Scroll to top', data: { placement: 'top', container: 'body'} }
            %button.js-scroll-up.btn-scroll.btn-transparent.btn-blank{ type: 'button', disabled: true }
          .has-tooltip.controllers-buttons{ title: 'Scroll to bottom', data: { placement: 'top', container: 'body'} }
            %button.js-scroll-down.btn-scroll.btn-transparent.btn-blank{ type: 'button', disabled: true }
          .refresh-control.pull-right
            .has-tooltip.controllers-buttons{ title: _('Refresh'), data: { placement: 'top', container: 'body'} }
              %button.js-refresh-log.btn-default.btn-refresh{ type: 'button', disabled: true }

      %pre.build-trace#build-trace
        %code.bash.js-build-output
          .build-loader-animation.js-build-refresh
